<div class="relative flex h-screen w-full flex-col overflow-hidden">
  <header
    class="flex items-center bg-white dark:bg-zinc-900 px-4 py-3 border-b border-zinc-200 dark:border-zinc-800 shrink-0">
    <div class="flex-1 flex items-center gap-3">
      <span class="material-symbols-outlined text-zinc-400">menu</span>
      <h1 class="text-base font-extrabold tracking-tight uppercase">Order Screen</h1>
    </div>
    <div class="flex items-center gap-4">
      <div class="flex flex-col items-end">
        <span class="text-[10px] font-bold text-zinc-500 uppercase">Barista</span>
        <span class="text-xs font-bold">ALEX .W</span>
      </div>
    </div>
  </header>
  <div class="flex flex-1 overflow-hidden">
    <div class="flex-1 flex flex-col overflow-hidden">
      <nav
        class="flex gap-2 p-3 bg-zinc-50 dark:bg-zinc-950 border-b border-zinc-200 dark:border-zinc-800 overflow-x-auto no-scrollbar">
        <button
          class="px-5 py-2 rounded-lg bg-zinc-900 dark:bg-white text-white dark:text-black font-extrabold text-sm whitespace-nowrap">COFFEE</button>
        <button
          class="px-5 py-2 rounded-lg bg-zinc-200 dark:bg-zinc-800 text-zinc-600 dark:text-white font-extrabold text-sm whitespace-nowrap">COLD</button>
        <button
          class="px-5 py-2 rounded-lg bg-zinc-200 dark:bg-zinc-800 text-zinc-600 dark:text-white font-extrabold text-sm whitespace-nowrap">TEA</button>
        <button
          class="px-5 py-2 rounded-lg bg-zinc-200 dark:bg-zinc-800 text-zinc-600 dark:text-white font-extrabold text-sm whitespace-nowrap">PASTRY</button>
      </nav>
      <div class="flex-1 overflow-y-auto bg-zinc-50 dark:bg-zinc-950">
        <div class="flex flex-col">
          <div class="bg-white dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-800">
            <div class="flex items-center px-4 h-20 gap-4">
              <div
                class="flex items-center justify-center size-12 rounded bg-zinc-100 dark:bg-zinc-800 text-zinc-400 font-black text-xs">
                LAT</div>
              <div class="flex-1">
                <h3 class="text-lg font-black leading-none mb-1">Oat Milk Latte</h3>
                <p class="text-sm font-bold text-zinc-500">$5.50</p>
              </div>
              <div
                class="flex items-center bg-zinc-900 dark:bg-white text-white dark:text-black rounded-xl p-1 gap-4 px-3 h-12 shadow-lg">
                <button class="size-8 flex items-center justify-center font-black text-xl active:opacity-50">−</button>
                <span class="font-black text-lg min-w-[20px] text-center">1</span>
                <button class="size-8 flex items-center justify-center font-black text-xl active:opacity-50">+</button>
              </div>
            </div>
            <div class="px-4 pb-5 grid grid-cols-2 gap-4">
              <div class="space-y-2">
                <span class="text-[10px] font-black text-zinc-400 uppercase tracking-widest">Size</span>
                <div class="flex gap-1.5">
                  <button
                    class="flex-1 py-3 bg-zinc-100 dark:bg-zinc-800 border-2 border-zinc-900 dark:border-white rounded-lg font-black text-sm">S</button>
                  <button
                    class="flex-1 py-3 bg-zinc-50 dark:bg-zinc-950 border-2 border-transparent rounded-lg font-black text-sm text-zinc-500">M</button>
                  <button
                    class="flex-1 py-3 bg-zinc-50 dark:bg-zinc-950 border-2 border-transparent rounded-lg font-black text-sm text-zinc-500">L</button>
                </div>
              </div>
              <div class="space-y-2">
                <span class="text-[10px] font-black text-zinc-400 uppercase tracking-widest">Milk</span>
                <div class="flex gap-1.5">
                  <button
                    class="flex-1 py-3 bg-zinc-100 dark:bg-zinc-800 border-2 border-zinc-900 dark:border-white rounded-lg font-black text-xs">OAT</button>
                  <button
                    class="flex-1 py-3 bg-zinc-50 dark:bg-zinc-950 border-2 border-transparent rounded-lg font-black text-xs text-zinc-500">SOY</button>
                  <button
                    class="flex-1 py-3 bg-zinc-50 dark:bg-zinc-950 border-2 border-transparent rounded-lg font-black text-xs text-zinc-500">WHL</button>
                </div>
              </div>
            </div>
          </div>
          @for(product of productResponse.products; track product._id){
            <div class="flex items-center px-4 h-20 gap-4 bg-white dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-800 hover:bg-zinc-50 dark:hover:bg-zinc-800/50">
              <div class="flex items-center justify-center size-12 rounded bg-zinc-100 dark:bg-zinc-800 text-zinc-400 font-black text-xs">
                {{getInitials(product.name)}}
              </div>
              <div class="flex-1">
                <h3 class="text-lg font-black leading-none mb-1 dark:text-white">{{product.name}}</h3>
                <p class="text-sm font-bold text-zinc-500">{{product.price | currency }}</p>
              </div>
              <div
                class="flex items-center bg-zinc-100 dark:bg-zinc-800 text-zinc-900 dark:text-white rounded-xl p-1 gap-4 px-3 h-12">
                <button class="size-8 flex items-center justify-center font-black text-xl opacity-20">−</button>
                <span class="font-black text-lg min-w-[20px] text-center">{{product.stock}}</span>
                <button class="size-8 flex items-center justify-center font-black text-xl">+</button>
              </div>
            </div>
          }

        </div>
      </div>
    </div>
    <aside
      class="hidden lg:flex w-80 flex-col bg-zinc-100 dark:bg-zinc-900 border-l border-zinc-200 dark:border-zinc-800">
      <div class="p-6">
        <h2 class="text-xl font-black mb-1">Active Bill</h2>
        <p class="text-xs font-bold text-zinc-500 uppercase tracking-tighter">Table 04 · 10:42 AM</p>
      </div>
      <div class="flex-1 px-6 overflow-y-auto space-y-4">
        <div class="flex justify-between items-start">
          <div class="space-y-1">
            <p class="font-black text-sm">1x Oat Milk Latte</p>
            <p class="text-[10px] font-bold text-zinc-400 uppercase">Size S, Oat Milk</p>
          </div>
          <p class="font-black text-sm">$5.50</p>
        </div>
      </div>
      <div class="p-6 bg-white dark:bg-black border-t border-zinc-200 dark:border-zinc-800">
        <div class="flex justify-between items-center mb-6">
          <span class="font-bold text-zinc-500">Total Due</span>
          <span class="text-3xl font-black">$5.95</span>
        </div>
        <button
          class="w-full bg-zinc-900 dark:bg-white text-white dark:text-black py-5 rounded-xl font-black text-xl uppercase active:scale-95 transition-transform flex items-center justify-center gap-3">
          Pay Now
          <span class="material-symbols-outlined font-black">arrow_forward</span>
        </button>
      </div>
    </aside>
  </div>
  <div
    class="lg:hidden flex items-center justify-between bg-zinc-900 dark:bg-white text-white dark:text-black p-5 h-24 shrink-0 shadow-[0_-10px_30px_rgba(0,0,0,0.3)]">
    <div class="flex flex-col">
      <span class="text-[10px] font-black text-zinc-400 dark:text-zinc-500 uppercase tracking-widest">Amount Due</span>
      <span class="text-3xl font-black leading-none">$5.95</span>
    </div>
    <button
      class="h-14 px-8 bg-zinc-800 dark:bg-zinc-100 rounded-xl flex items-center gap-2 active:scale-95 transition-transform">
      <span class="font-black text-lg uppercase">Checkout</span>
      <span class="material-symbols-outlined text-2xl font-black">chevron_right</span>
    </button>
  </div>
</div>