.fondo {
  background-color: white;
}

.color-name {
  color: #734024
}

.color-name-0 {
  color: #734024;
}

.botton {
  background-color: #734024
}

.initial {
  background-color: #CFC576
}

.initial-word {
  color: #734024
}

.stock {
  color: #916C33
}

.stock-word {
  color: #f06d0f 
}
