<div class="relative h-screen flex items-center justify-center text-center bg-gradient-to-tr from-green-900 to-stone-500 ">
  <div class="relative h-screen flex flex-col justify-center px-2 text-center sm:px-2 md:px-4 xl:-ml-80 xl:py-55  lg:text-left">
    <h1 class="text-3xl font-extrabold text-white drop-shadow-lg tracking-tight leading-tight">
      Hoy es la oportunidad de ser mejor que ayer
    </h1>
    <div class="flex justify-center lg:justify-start">
      <button class="mt-4 sm:mt-6 inline-block bg-blue-600 hover:bg-blue-700 text-white text-sm sm:text-base px-5 sm:px-6 py-2.5 sm:py-3 rounded-lg shadow-md transition duration-300 ease-in-out cursor-pointer" [routerLink]="['/login']">
        Iniciar Sesión
      </button>
    </div>
  </div>
</div>