<div class="relative items-center justify-center">  
  <img src="coffewall.jpg" alt="" class="w-full z-10" >
  <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center">
    <img 
      src="342501518_b7c07a15-7a16-4b04-90d0-9327ee191a6a.jpg" 
      class="size-40 object-cover rounded-lg [clip-path:circle(40%_at_50%_50%)]"
      alt="Cafecito Feliz">
    <button class="w-50 mt-5 bg-green-600 hover:bg-green-700 text-white py-3 px-6 rounded-xl font-bold text-lg uppercase transition-transform cursor-pointer" routerLink="/login">
      Iniciar Sesión
    </button>
  </div>
</div>