<div class="min-h-screen bg-gray-50 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-gradient-to-tr from-gray-700 to-green-700">
  <div class="flex flex-col items-center mt-4">
    <img 
      src="342501518_b7c07a15-7a16-4b04-90d0-9327ee191a6a.jpg" 
      class="-mt-20 size-100 object-cover rounded-lg [clip-path:circle(40%_at_50%_50%)]"
      alt="Cafecito Feliz">
    <button class="w-50 mt-5 dark:bg-green-600 hover:bg-zinc-800 dark:hover:bg-green-700 text-white py-3 rounded-xl font-bold text-lg uppercase transition-transform cursor-pointer" routerLink="/login" >
      Iniciar Sesión</button>
  </div>
</div>